/* Terminate.css */

.terminate-page {
    margin: 50px;
  }
  
  .terminate-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .terminate-table-container {
    overflow-x: auto;
  }
  
  .terminate-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .terminate-table th,
  .terminate-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e6;
  }
  
  .terminate-table th {
    background-color: #dc3545;
    color: #fff;
  }
  
  .terminate-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  